<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsPackageDao" class="ru.bvt.StudentTestingBvtApp.dao.QuestionsPackageDaoCSVEdition">
    </bean>

    <bean id="studentTestingService" class="ru.bvt.StudentTestingBvtApp.service.StudentTestingServiceCSVEdition">
        <constructor-arg name="dao" ref="questionsPackageDao"/>
    </bean>

</beans>